<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">

  <div class="my-auto">
    <h2 class="mb-0">
      <span class="text-primary">
        {{title}}
      </span>
    </h2>
    <hr class="m-0">
    <div class="subheading mb-5">
      App Summary
    </div>
    <p class="lead mb-5">The purpose of this resume style web app is to show off the developers talent in
      creating node applications using express. This also includes authentication via google passport login.
      The code that the developer use follows clean and modular coding standard to make sure that every piece
      of code is organize and independent freach other.
    </p>
    <hr class="m-0">
    <div class="social-icons">
      <span>Click to login with Google : </span>
      <a href="/auth/google">
        <i class="fab fa-google text-warning"></i>
      </a>
    </div>
  </div>

</section>