<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="reverseString">
  <div class="my-auto" ng-controller="ReverseController">
    <h3 class="mb-5">Reverse String</h3>
    <div class="subheading mb-3">Please input string : </div>
    <form name="myStringForm" novalidate>
      <div class="form-group">
        <input type="text" class="form-control" id="inputString" name="inputString">
      </div>
    </form>
    <p>{{reverseString}}</p>
  </div>
</section>